body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  padding: 0 40px !important;
  background: rgb(66, 120, 217);
  background: -moz-linear-gradient(
    143deg,
    rgba(66, 120, 217, 1) 0%,
    rgba(97, 146, 233, 1) 50%,
    rgba(128, 172, 250, 1) 100%
  );
  background: -webkit-linear-gradient(
    143deg,
    rgba(66, 120, 217, 1) 0%,
    rgba(97, 146, 233, 1) 50%,
    rgba(128, 172, 250, 1) 100%
  );
  background: linear-gradient(
    143deg,
    rgba(66, 120, 217, 1) 0%,
    rgba(97, 146, 233, 1) 50%,
    rgba(128, 172, 250, 1) 100%
  );

  .navbar-toggler {
    border: none;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .navbar-brand {
    padding: 0 !important;
    margin-right: 25px;

    img {
      max-width: 250px;
    }
  }

  .navbar-nav {
    flex: 1;
    justify-content: space-around;

    .nav-item {
      position: static;
      display: flex;
      align-items: center;

      &:hover {
        border-top: 2px solid white;
      }

      &.no-hover:hover {
        border-top: none;
      }

      &.dropdown {
        .dropdown-toggle:after {
          display: none;
        }

        &:hover > .dropdown-menu {
          display: block;
        }
      }

      .nav-link {
        color: white !important;
        font-size: 16px;
        text-align: left;

        > .fas {
          display: none;
        }

        > .fas.fa-search {
          display: block;
        }
      }

      .dropdown-menu-full {
        margin: 0;
        margin-top: -1px;
        padding: 4rem;
        width: 100% !important;

        .dropdown-item {
          min-height: 36px;
          padding: 15px 0 0 13rem;
          font-size: 21px;
          position: relative;

          .nav-link {
            color: black !important;
            font-weight: bold;
            transition: 0.2s all ease-in-out;

            .fas {
              opacity: 0;
              display: inline-block;
              transition: 0.2s all ease-in-out;
              position: absolute;
              left: 10%;
              color: #38e5c4;
            }

            &:hover {
              color: #38e5c4 !important;

              .fas {
                opacity: 1;
              }
            }
          }

          &:active {
            background-color: transparent;
          }
        }

        &:hover {
          display: block;
        }

        form {
          input {
            border: none;
            border-bottom: 1px solid #e9eef2;
            border-radius: 0;

            &:focus {
              box-shadow: none;
              border-bottom: 1px solid #999a9b;

              + .input-group-append button {
                border-bottom: 1px solid #999a9b;
              }
            }
          }

          button {
            border: none;
            border-bottom: 1px solid #e9eef2;

            &:hover,
            &:active {
              background-color: transparent;
              box-shadow: none;
              color: #38e5c4;
            }

            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.mobile {
  display: none;
}

.demo-box {
  border: 1px solid white;
  padding: 14px 38px;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: white;
    color: #79a7f6;
  }
}

@media (max-width: 992px) {
  nav {
    padding: 0 !important;

    .navbar-toggler.search {
      min-height: 64px;

      &.active {
        border-top: 2px solid white;
        border-radius: 0;
      }
    }

    .navbar-toggler.close-icon {
      display: none;
    }

    .navbar-brand {
      img {
        padding-left: 40px;
      }
    }

    .navbar-collapse {
      background: white;
      padding-top: 25px;

      .nav-item {
        padding: 15px 25px 0;
        flex-direction: column;
        align-items: flex-start;

        &.dropdown {
          .dropdown-toggle:after {
            display: none;
          }

          &:hover > .dropdown-menu {
            display: none;
          }
        }

        &:hover {
          border-top: none;
        }

        .nav-link {
          padding-top: 0;
          padding-left: 5rem;
          color: black !important;
          font-weight: bold;
          transition: 0.3s all ease-in-out;
          min-height: 24px;

          .fas {
            display: inline-block;
            position: absolute;
            left: 3rem !important;
            opacity: 0;
          }

          &:hover {
            color: #38e5c4 !important;

            .fas {
              opacity: 1;
            }
          }
        }

        .nav-link.req-demo {
          margin-top: 25px;
          padding: 0;
          width: 100%;
        }

        .dropdown-menu {
          margin-top: 64px;
          padding: 0;
          position: absolute;
          top: 0;
          height: 85vh;
          z-index: 9;

          .dropdown-item {
            font-size: 16px;
            padding: 15px 25px 0;
            font-weight: bold;

            .nav-link {
              text-align: left;
              font-weight: bold;
              padding-left: 4rem;
            }
          }
        }

        .dropdown-menu.search-menu {
          padding: 25px;

          .input-group {
            margin-top: 45px;
          }
        }

        &.search-item {
          display: none;
        }
      }
    }
  }

  .mobile {
    display: block;
  }

  .no-mobile {
    display: none;
  }

  .demo-box {
    border: 1px solid #38e5c4;
    color: #38e5c4;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: #38e5c4;
      color: white;
    }
  }
}
