body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
nav {
  display: flex;
  padding: 0 40px !important;
  background: #4278d9;
  background: -moz-linear-gradient(143deg, #4278d9 0%, #6192e9 50%, #80acfa 100%);
  background: -webkit-linear-gradient(143deg, #4278d9 0%, #6192e9 50%, #80acfa 100%);
  background: linear-gradient(143deg, #4278d9 0%, #6192e9 50%, #80acfa 100%);
}
nav .navbar-toggler {
  border: none;
}
nav .navbar-toggler:focus {
  border: none;
  outline: none;
}
nav .navbar-brand {
  padding: 0 !important;
  margin-right: 25px;
}
nav .navbar-brand img {
  max-width: 250px;
}
nav .navbar-nav {
  flex: 1;
  justify-content: space-around;
}
nav .navbar-nav .nav-item {
  position: static;
  display: flex;
  align-items: center;
}
nav .navbar-nav .nav-item:hover {
  border-top: 2px solid white;
}
nav .navbar-nav .nav-item.no-hover:hover {
  border-top: none;
}
nav .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
  display: none;
}
nav .navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
nav .navbar-nav .nav-item .nav-link {
  color: white !important;
  font-size: 16px;
  text-align: left;
}
nav .navbar-nav .nav-item .nav-link > .fas {
  display: none;
}
nav .navbar-nav .nav-item .nav-link > .fas.fa-search {
  display: block;
}
nav .navbar-nav .nav-item .dropdown-menu-full {
  margin: 0;
  margin-top: -1px;
  padding: 4rem;
  width: 100% !important;
}
nav .navbar-nav .nav-item .dropdown-menu-full .dropdown-item {
  min-height: 36px;
  padding: 15px 0 0 13rem;
  font-size: 21px;
  position: relative;
}
nav .navbar-nav .nav-item .dropdown-menu-full .dropdown-item .nav-link {
  color: black !important;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
}
nav .navbar-nav .nav-item .dropdown-menu-full .dropdown-item .nav-link .fas {
  opacity: 0;
  display: inline-block;
  transition: 0.2s all ease-in-out;
  position: absolute;
  left: 10%;
  color: #38e5c4;
}
nav .navbar-nav .nav-item .dropdown-menu-full .dropdown-item .nav-link:hover {
  color: #38e5c4 !important;
}
nav .navbar-nav .nav-item .dropdown-menu-full .dropdown-item .nav-link:hover .fas {
  opacity: 1;
}
nav .navbar-nav .nav-item .dropdown-menu-full .dropdown-item:active {
  background-color: transparent;
}
nav .navbar-nav .nav-item .dropdown-menu-full:hover {
  display: block;
}
nav .navbar-nav .nav-item .dropdown-menu-full form input {
  border: none;
  border-bottom: 1px solid #e9eef2;
  border-radius: 0;
}
nav .navbar-nav .nav-item .dropdown-menu-full form input:focus {
  box-shadow: none;
  border-bottom: 1px solid #999a9b;
}
nav .navbar-nav .nav-item .dropdown-menu-full form input:focus + .input-group-append button {
  border-bottom: 1px solid #999a9b;
}
nav .navbar-nav .nav-item .dropdown-menu-full form button {
  border: none;
  border-bottom: 1px solid #e9eef2;
}
nav .navbar-nav .nav-item .dropdown-menu-full form button:hover,
nav .navbar-nav .nav-item .dropdown-menu-full form button:active {
  background-color: transparent;
  box-shadow: none;
  color: #38e5c4;
}
nav .navbar-nav .nav-item .dropdown-menu-full form button:focus {
  box-shadow: none;
}
.mobile {
  display: none;
}
.demo-box {
  border: 1px solid white;
  padding: 14px 38px;
  transition: 0.3s all ease-in-out;
}
.demo-box:hover {
  background-color: white;
  color: #79a7f6;
}
@media (max-width: 992px) {
  nav {
    padding: 0 !important;
  }
  nav .navbar-toggler.search {
    min-height: 64px;
  }
  nav .navbar-toggler.search.active {
    border-top: 2px solid white;
    border-radius: 0;
  }
  nav .navbar-toggler.close-icon {
    display: none;
  }
  nav .navbar-brand img {
    padding-left: 40px;
  }
  nav .navbar-collapse {
    background: white;
    padding-top: 25px;
  }
  nav .navbar-collapse .nav-item {
    padding: 15px 25px 0;
    flex-direction: column;
    align-items: flex-start;
  }
  nav .navbar-collapse .nav-item.dropdown .dropdown-toggle:after {
    display: none;
  }
  nav .navbar-collapse .nav-item.dropdown:hover > .dropdown-menu {
    display: none;
  }
  nav .navbar-collapse .nav-item:hover {
    border-top: none;
  }
  nav .navbar-collapse .nav-item .nav-link {
    padding-top: 0;
    padding-left: 5rem;
    color: black !important;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
    min-height: 24px;
  }
  nav .navbar-collapse .nav-item .nav-link .fas {
    display: inline-block;
    position: absolute;
    left: 3rem !important;
    opacity: 0;
  }
  nav .navbar-collapse .nav-item .nav-link:hover {
    color: #38e5c4 !important;
  }
  nav .navbar-collapse .nav-item .nav-link:hover .fas {
    opacity: 1;
  }
  nav .navbar-collapse .nav-item .nav-link.req-demo {
    margin-top: 25px;
    padding: 0;
    width: 100%;
  }
  nav .navbar-collapse .nav-item .dropdown-menu {
    margin-top: 64px;
    padding: 0;
    position: absolute;
    top: 0;
    height: 85vh;
    z-index: 9;
  }
  nav .navbar-collapse .nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    padding: 15px 25px 0;
    font-weight: bold;
  }
  nav .navbar-collapse .nav-item .dropdown-menu .dropdown-item .nav-link {
    text-align: left;
    font-weight: bold;
    padding-left: 4rem;
  }
  nav .navbar-collapse .nav-item .dropdown-menu.search-menu {
    padding: 25px;
  }
  nav .navbar-collapse .nav-item .dropdown-menu.search-menu .input-group {
    margin-top: 45px;
  }
  nav .navbar-collapse .nav-item.search-item {
    display: none;
  }
  .mobile {
    display: block;
  }
  .no-mobile {
    display: none;
  }
  .demo-box {
    border: 1px solid #38e5c4;
    color: #38e5c4;
    width: 100%;
    text-align: center;
  }
  .demo-box:hover {
    background-color: #38e5c4;
    color: white;
  }
}
